{% extends 'base.html' %}
{% block stage_header %}gmeCol: About{% endblock %}
{% block content %}
<div class="col-md-9">
<div class="page-header">
    <h2>About gmeCol</h2>
</div>
<p>
gmeCol started awhile back when I found myself wanting to play an older Xbox 360 game whose community had long since moved on to bigger and better things. Now I could have gone to a variety of social media platforms or message boards looking for people in a similar position, or I could do the sensible thing and build an entirely new platform for people in a similar position as myself. Obviously, I stupidly chose the latter, and had to build this whole thing. 
</p>
<p>
Now, I'm not entirely interested in building a new social media platform, but I am interested in bringing people together in the love of gaming. I don't intend for this to ever replace Facebook, but I do hope it can supplement current gaming hangouts. The goal is to provide means for people to catalog their entire gaming inventory across a variety of gaming platforms, bringing your entire gaming inventory together in one spot. You'll be able to rate your games, list them for sale or trade, and also make friends with other people still looking to play that game you liked for 10 years ago. 
</p>
<p>
Currently, you'll find very little of the social aspect, and that's because it needs real work. I want to make sure we properly protect people from abuse and harassment as best as possible, and right now that's admittedly not up to snuff. For now though, I hope you'll enjoy being able to build out and show off your massive collection of games. In time, I hope to bring more and more features into the fold!
</p>
</div>
{% endblock %}
