{% extends 'base.html' %}
{% block stage_header %}{{ game.name }}{% endblock %}
{% block stage_intro %}
<h3>Platform: {{ game.platform.name }}</h3>
{% endblock %}
{% block content %}
    <div class="col-md-1">
        <p><img class="img-rounded" src="{{ game.image_url }}" /></p>
    </div>
    <div class="col-md-5">
        <ul>
            <li>Title: {{ game.name }}</li>
            <li>Genres:</li>
                <ul>
                    {% for genre in game.genres.all %}
                        <li>{{ genre.name }}</li>
                    {% endfor %}
                </ul>
            <li>Platform: {{ game.platform.name }}</li>
        </ul>
    </div>
    <div class="col-md-3">
        <div class="btn-group">
            {% if user_game %}

                {% if user_game.wish %}
                    <h4>Wishlisted</h4>
                    <a href="{% url "add-game-to-collection" game.pk %}" class="btn btn-lg btn-primary">Add To Collection</a>
                {% else %}
                    <h4>In Collection</h4>
                    <div class="row"></p>
                        <div class="rateit" data-rateit-value="{{ user_game.rating }}" data-rateit-ispreset="{% if user_game.rating %}true{% else %}false{% endif %}" id="game-rating"></div>
                    </p></div>
                    <div class="row"><p>
                    {% if user_game.for_trade %}
                        <button id="trade-game" class="btn btn-success">For Trade</button>
                    {% else %}
                        <button id="trade-game" class="btn btn-danger">List for Trade?</button>
                    {% endif %}
                    </p></div>
                    <div class="row"><p>
                    {% if user_game.for_sale %}
                        <button id="sell-game" class="btn btn-success">For Sale</button>
                    {% else %}
                        <button id="sell-game" class="btn btn-danger">List for Sale?</button>
                    {% endif %}
                    </p></div>
                {% endif %}
                
            {% else %}
                
                {% if request.user.is_authenticated %}
                    <p>
                    <a href="{% url "add-game-to-wish" game.pk %}"><button class="btn btn-large btn-primary add-wish">Add to WishList</button></a>
                    </p>
                    <p>
                        <a href="{% url "add-game-to-collection" game.pk %}"><button class="btn btn-large btn-primary add-collect">Add to Collection</button></a>
                    </p>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#game-rating').bind('rated', function(event, value){
                $.ajax({
                    type: "GET",
                    url: '{% url "rate-game" game.pk %}',
                    data: { score: value }
                });
            });
            $('#game-rating').bind('reset', function(){
                $.ajax({
                    type: "GET",
                    url: '{% url "rate-game" game.pk %}',
                    data: { score: 0 }
                });
            });
            $('#trade-game').click(function(data){
                $.ajax({
                    type: "GET",
                    url: '{% url "trade-game" game.pk %}',
                    success: function(data){
                        if(data.for_trade){
                            $('#trade-game').attr('class', 'btn btn-success');
                            $('#trade-game').html('For Trade');
                        } else {
                            $('#trade-game').attr('class', 'btn btn-danger');
                            $('#trade-game').html('List for Trade?');
                        }
                    }
                });
            });
            $('#sell-game').click(function(data){
                $.ajax({
                    type: "GET",
                    url: '{% url "sell-game" game.pk %}',
                    success: function(data){
                        if(data.for_sale){
                            $('#sell-game').attr('class', 'btn btn-success');
                            $('#sell-game').html('For Sale');
                        } else {
                            $('#sell-game').attr('class', 'btn btn-danger');
                            $('#sell-game').html('List for Sale?');
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
