{% extends 'base.html' %}
{% block stage_header %}{{ game.name }}{% endblock %}
{% block stage_intro %}
<p>{{ game.platform.name }}</p>
{% endblock %}
{% block content %}
    <div class="span1">
        <p><img src="{{ game.image_url }}" /></p>
    </div>
    <div class="span5">
        <ul>
            <li>Title: {{ game.name }}</li>
            <li>Genres:</li>
                <ul>
                    {% for genre in game.genres.all %}
                        <li>{{ genre.name }}</li>
                    {% endfor %}
                </ul>
            <li>Platform: {{ game.platform.name }}</li>
        </ul>
    </div>
    <div class="span3">
        <div class="btn-group">
            {% if game in request.user.userprofile.games.all %}
                <button class="btn btn-large" disabled="disabled">In Collection</button>
            {% else %}
                <a href="{% url add-game-to-collection game.remote_id game.platform.remote_id %}"><button class="btn btn-large">Add to Collection</button></a>
            {% endif %}
            {% if user_game %}
                <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- dropdown menu links -->
                    <li><a href="#">Rate</a></li>
                    <li><div class="rateit" data-rateit-value="{{ user_game.rating }}" data-rateit-ispreset="{% if user_game.rating %}true{% else %}false{% endif %}" id="game-rating"></div></li>
                    <li class="divider"></li>
                    <li><a href="#">For Trade?</a></li>
                    <li><a href="#">For Sale?</a></li>

                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#game-rating').bind('rated', function(event, value){
                $.ajax({
                    type: "GET",
                    url: "{% url rate-game game.pk %}",
                    data: { score: value }
                });
            });
            $('#game-rating').bind('reset', function(){
                $.ajax({
                    type: "GET",
                    url: "{% url rate-game game.pk %}",
                    data: { score: 0 }
                });
            });
        });
    </script>
{% endblock %}
