{% extends 'base.html' %}
{% load append_query %}
{% block stage_header %}gmeCol: {% if wish %}Your Wishlist{% else %}Your Collection{% endif %}{% endblock %}
{% block stage_intro %}
{% endblock %}
{% block content %}
    <div class="row">
        <form action='' method='get' role="form" class="form-inline">
            <div class="col-md-6">
                <div class="form-group">
                    {{ filter_form.genre.errors }}
                    <label class="sr-only" for="id_genre">Genre</label>
                    {{ filter_form.genre }} 
                </div>
                <div class="form-group">
                    {{ filter_form.platform.errors }}
                    <label class="sr-only" for="id_platform">Platform</label>
                    {{ filter_form.platform }} 
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Filter</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ sort_form.sort_by.errors }}
                    <label class="sr-only" for="id_genre">Sort By</label>
                    {{ sort_form.sort_by }} 
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Sort</button>
                </div>
            </div>
        </form>
    </div>
    <p></p>
    <div class="row">
        {% for game in games %}
            <div class="col-md-4">
                <p><a href="{% url "game-platform-detail" game.game.remote_id game.game.platform.remote_id %}"><img class="img-rounded" src="{{ game.game.icon_image_url}}" /></a></p>
                <h4>{{ game.game.name }}</h4>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}</div><div class="row">{% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="row">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="{% append_to_get page=page_obj.previous_page_number %}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% endif %}
                {% for page_num in page_obj.paginator.page_range %}
                <li {% ifequal page_num page_obj.number %}class="active"{% endifequal %}><a href="{% append_to_get page=page_num %}">{{ page_num }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="{% append_to_get page=page_obj.next_page_number %}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
