{% extends 'base.html' %}
{% block stage_header %}Game Collection{% endblock %}
{% block stage_intro %}
{% endblock %}
{% block content %}
    <div class="span5">
        <h3>Genres</h3>
        <ul>
            {% for genre in genres %}
                <li>{{ genre.name }}</li>
            {% endfor %}
        </ul>

    </div>
    <div class="span5">
        <h3>Platforms</h3>
        <ul>
            {% for platform in platforms %}
                <li>{{ platform.name }}</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
