{% extends 'base.html' %}
{% block stage_header %}{{ genre.name }} {% if wish %}WishList{% else %}Games{% endif %}{% endblock %}
{% block stage_intro %}
{% endblock %}
{% block content %}
    {% for game in games %}
        <div class="col-md-4">
            <p><a href="{% url "game-platform-detail" game.game.remote_id game.game.platform.remote_id %}"><img class="img-rounded" src="{{ game.game.icon_image_url}}" /></a></p>
            <h4>{{ game.game.name }}</h4>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}</div><div class="row">{% endif %}
    {% endfor %}
{% endblock %}
